body{
    background-color: white;
    font-family: 'Bodoni 72 Oldstyle';
}
h1, h2, h3, h4, h5{
    font-family: 'Bodoni 72 Oldstyle';
}
.background{
    width: 1407px;
    height: 667px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 54px;
}

.m-b-md {
    margin-bottom: 30px;
}

.ligne {
    border-bottom: 2px solid goldenrod;
}

.background{
    margin-top: -176px;
}