.background{
    width: 1392px;
    height: 719px;
    margin-top: -21px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 54px;
}

.m-b-md {
    margin-bottom: 30px;
}
.page2{
    margin-top: -600px;
    font-size: 426%;
    color: white;
    text-align: center;
    margin-bottom: 250px;

}

.resto img {
    margin-top: -1em;
    position: relative;
    z-index: -1;
    margin-bottom: 200px;
}

.pres p{
    margin-bottom: 100px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: black;
}
.pres h2{
    text-align: center;
    font-weight: 400;

}
ul{
    margin-left: 23%;
    margin-right: -21%;
}

.pagination {
    margin-left: 61%;
    margin-right: -21%;
}

article{
    color: black;
}

.pagewelcome h1{
    margin-top: -645px;
    font-size: 426%;
    margin-bottom: 137px;
    font-weight: 400;

}

.myButton {
    margin-left: 40%;
    -moz-box-shadow: inset -3px 1px 25px -2px #383838;
    -webkit-box-shadow: inset -3px 1px 25px -2px #383838;
    box-shadow: inset -3px 1px 25px -2px #383838;
    background-color: transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e6b82e;
    display: inline-block;
    cursor: pointer;
    color: #e6b82e;
    font-size: 23px;
    padding: 18px 57px;
    text-decoration: none;
}

.myButton:hover {
    background-color: #e6b82e;
    border: 1px solid black;
    text-decoration: none;
}

.myButton:active {
    position:relative;
    top:1px;
    text-decoration: none;
}

.panel-body ul{
    margin-top: 39px;
    margin-bottom: 11px;
    margin-left: 11px;
    margin-right: 80px;
    color: black;

}

article {
    text-align: center;
}
.pagination>.active>a, .pagination>.active>a:focus,
.pagination>.active>a:hover, .pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 3;
    color: black;
    background-color: goldenrod;
    border-color: black;
    cursor: default;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 4px 15px;
    line-height: 1.6;
    text-decoration: none;
    color: black;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}


.fb{
    color:darkblue;
}

.twitter{
    color:deepskyblue;
}

.google{
    color:orange;
}

.pinterest{
    color:red;
}
